$type-color: #4c4d4f;
$body-color: #fcfcfa;
$gray: #dbdbdc;
$light-gray: #f3f3f1;
$orange: #e58b28;

$size12: .75em;
$size13: .8125em;
$size14: .875em;
$size20: 1.25em;
$size22: 1.375em;

$font1: 'linux libertine', georgia, serif;
$font2: "Century Gothic",CenturyGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;